body {
  background-color: #2b2b2b;
  color: white;
  font-family: monospace;
}

h1 {
  text-align: center;
}

span .egypt {
  color: #C2B280;
}

span .meso {
  color: #C2B280;
}

span .leader {
  color: #08FF4A;
}
